Eren burada grafikler çizip veriyi tanıyacak.

**Data Merge**

In [1]:
import pandas as pd

# Dosyaları okuyoruz.

df_customers = pd.read_csv('../data/processed/clean_customers.csv')
df_orders = pd.read_csv('../data/processed/clean_orders.csv')
df_details = pd.read_csv('../data/processed/clean_ordersdetails.csv')
df_products = pd.read_csv('../data/processed/clean_products.csv')
df_categories = pd.read_csv('../data/processed/clean_categories.csv')

In [3]:
# Detaylar ve ürünler tablolarını birleştiriyoruz.
merge1 = df_details.merge(df_orders, on='OrderID', how='left')

# Birleştirilmiş tabloyu ürünler tablosu ile birleştiriyoruz.
merge2 = merge1.merge(df_products, on='ProductID', how='left')

# Birleştirilmiş tabloyu kategoriler tablosu ile birleştiriyoruz.
merge3 = merge2.merge(df_categories, on='CategoryID', how='left')

# Birleştirilmiş tabloyu müşteriler tablosu ile birleştiriyoruz.   
df_merged = merge3.merge(df_customers, on='CustomerID', how='left')

#Order_Date sütununu datetime formatına çeviriyoruz.
df_merged['Order_Date'] = pd.to_datetime(df_merged['OrderDate'])

df_merged.head()

,OrderID,ProductID,UnitPrice_x,Quantity,Discount,TotalAmount,CustomerID,EmployeeID,OrderDate,RequiredDate,...,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,Phone_Clean,Order_Date
0,10248,11,14.0,12,0.0,168.0,VINET,5.0,1996-07-04,1996-08-01,...,Accounting Manager,59 rue de l'Abbaye,Reims,Bilinmiyor,51100,France,26.47.15.10,26.47.15.11,26.47.15.10,1996-07-04
1,10248,42,9.8,10,0.0,98.0,VINET,5.0,1996-07-04,1996-08-01,...,Accounting Manager,59 rue de l'Abbaye,Reims,Bilinmiyor,51100,France,26.47.15.10,26.47.15.11,26.47.15.10,1996-07-04
2,10248,72,34.8,5,0.0,174.0,VINET,5.0,1996-07-04,1996-08-01,...,Accounting Manager,59 rue de l'Abbaye,Reims,Bilinmiyor,51100,France,26.47.15.10,26.47.15.11,26.47.15.10,1996-07-04
3,10249,14,18.6,9,0.0,167.4,TOMSP,6.0,1996-07-05,1996-08-16,...,Marketing Manager,Luisenstr. 48,Münster,Bilinmiyor,44087,Germany,0251-031259,0251-035695,0251031259,1996-07-05
4,10249,51,42.4,40,0.0,1696.0,TOMSP,6.0,1996-07-05,1996-08-16,...,Marketing Manager,Luisenstr. 48,Münster,Bilinmiyor,44087,Germany,0251-031259,0251-035695,0251031259,1996-07-05

In [5]:
df_merged.describe().T

,count,mean,min,25%,50%,75%,max,std
OrderID,2155.0,10659.37587,10248.0,10451.0,10657.0,10862.5,11077.0,241.378032
ProductID,2155.0,40.793039,1.0,22.0,41.0,60.0,77.0,22.159019
UnitPrice_x,2155.0,26.21852,2.0,12.0,18.4,32.0,263.5,29.827418
Quantity,2155.0,23.812993,1.0,10.0,20.0,30.0,130.0,19.022047
Discount,2155.0,0.056167,0.0,0.0,0.0,0.1,0.25,0.08345
TotalAmount,2155.0,587.37496,4.8,147.0,337.75,656.0,15810.0,969.224235
EmployeeID,2082.0,4.360711,1.0,2.0,4.0,7.0,9.0,2.471958
ShipVia,2082.0,1.999039,1.0,1.0,2.0,3.0,3.0,0.781206
Freight,2082.0,97.957133,0.02,20.31,55.09,124.0475,1007.64,134.471521
SupplierID,2155.0,14.488167,1.0,7.0,14.0,21.0,29.0,8.22864
CategoryID,2155.0,4.135499,1.0,2.0,4.0,6.0,8.0,2.378567
UnitPrice_y,2155.0,27.948687,2.5,12.5,19.45,34.0,263.5,31.610706
UnitsInStock,2155.0,39.795824,0.0,17.0,25.0,57.0,125.0,36.055668
UnitsOnOrder,2155.0,8.074246,0.0,0.0,0.0,0.0,100.0,19.748983
ReorderLevel,2155.0,11.900232,0.0,0.0,10.0,20.0,30.0,10.791421
Order_Date,2082,1997-07-26 19:48:14.524495744,1996-07-04 00:00:00,1997-02-12 00:00:00,1997-08-25 00:00:00,1998-01-21 00:00:00,1998-05-04 00:00:00,NaN