Dilara burada veriyi yoğuracak.

In [3]:
import pandas as pd 

customers = pd.read_excel(r"C:\Users\dilara\Desktop\Customers.xlsx")
customers.head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [8]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    91 non-null     object
 1   CompanyName   91 non-null     object
 2   ContactName   91 non-null     object
 3   ContactTitle  91 non-null     object
 4   Address       91 non-null     object
 5   City          91 non-null     object
 6   Region        31 non-null     object
 7   PostalCode    90 non-null     object
 8   Country       91 non-null     object
 9   Phone         91 non-null     object
 10  Fax           69 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB

In [13]:
customers['Region'] = customers['Region'].fillna('Bilinmiyor')
customers['Fax'] = customers['Fax'].fillna('Yok')
customers['PostalCode'] = customers['PostalCode'].fillna('Bilinmiyor')

In [14]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    91 non-null     object
 1   CompanyName   91 non-null     object
 2   ContactName   91 non-null     object
 3   ContactTitle  91 non-null     object
 4   Address       91 non-null     object
 5   City          91 non-null     object
 6   Region        91 non-null     object
 7   PostalCode    91 non-null     object
 8   Country       91 non-null     object
 9   Phone         91 non-null     object
 10  Fax           91 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB

In [15]:
customers['Country'] = customers['Country'].astype('category')
customers['City'] = customers['City'].astype('category')

In [16]:
customers['Phone_Clean'] = customers['Phone'].str.replace(r'[\(\)\s\-]', '', regex=True)

In [17]:
duplicate_count = customers.duplicated().sum()
print(f"Tekrar eden satır sayısı: {duplicate_count}")

Tekrar eden satır sayısı: 0

In [18]:
customers.head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,Phone_Clean
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Bilinmiyor,12209,Germany,030-0074321,030-0076545,0300074321
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Bilinmiyor,05021,Mexico,(5) 555-4729,(5) 555-3745,55554729
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Bilinmiyor,05023,Mexico,(5) 555-3932,Yok,55553932
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,Bilinmiyor,WA1 1DP,UK,(171) 555-7788,(171) 555-6750,1715557788
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Bilinmiyor,S-958 22,Sweden,0921-12 34 65,0921-12 34 67,0921123465

In [19]:
clean_customers = customers.copy()
clean_customers.to_csv("clean_customers.csv", index=False)
print("Veri 'clean_customers' değişkenine atandı ve 'clean_customers.csv' olarak kaydedildi.")

Veri 'clean_customers' değişkenine atandı ve 'clean_customers.csv' olarak kaydedildi.

In [4]:
ordersdetails = pd.read_excel(r"C:\Users\dilara\Desktop\OrdersDetails.xlsx")
ordersdetails.head()

   OrderID  ProductID UnitPrice  Quantity  Discount
0    10248         11     14,00        12       0.0
1    10248         42      9,80        10       0.0
2    10248         72     34,80         5       0.0
3    10249         14     18,60         9       0.0
4    10249         51     42,40        40       0.0

In [9]:
ordersdetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    2155 non-null   int64
 1   ProductID  2155 non-null   int64
 2   UnitPrice  2155 non-null   object
 3   Quantity   2155 non-null   int64
 4   Discount   2155 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 84.3+ KB

In [20]:
ordersdetails['UnitPrice'] = ordersdetails['UnitPrice'].str.replace(',', '.').astype(float)

In [21]:
# İndirimi de hesaba katarak toplam tutarı hesaplama
ordersdetails['TotalAmount'] = (ordersdetails['UnitPrice'] * ordersdetails['Quantity']) * (1 - ordersdetails['Discount'])

In [22]:
print(f"Tekrar eden satır sayısı: {ordersdetails.duplicated().sum()}")

Tekrar eden satır sayısı: 0

In [23]:
ordersdetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderID      2155 non-null   int64
 1   ProductID    2155 non-null   int64
 2   UnitPrice    2155 non-null   float64
 3   Quantity     2155 non-null   int64
 4   Discount     2155 non-null   float64
 5   TotalAmount  2155 non-null   float64
dtypes: float64(3), int64(3)
memory usage: 101.1 KB

In [24]:
ordersdetails.head()

   OrderID  ProductID  UnitPrice  Quantity  Discount  TotalAmount
0    10248         11       14.0        12       0.0        168.0
1    10248         42        9.8        10       0.0         98.0
2    10248         72       34.8         5       0.0        174.0
3    10249         14       18.6         9       0.0        167.4
4    10249         51       42.4        40       0.0       1696.0

In [25]:
clean_ordersdetails = ordersdetails.copy()
clean_ordersdetails.to_csv("clean_ordersdetails.csv", index=False)
print("Veri 'clean_ordersdetails' değişkenine atandı ve 'clean_ordersdetails.csv' olarak kaydedildi.")

Veri 'clean_ordersdetails' değişkenine atandı ve 'clean_ordersdetails.csv' olarak kaydedildi.

In [5]:
products = pd.read_excel(r"C:\Users\dilara\Desktop\Products.xlsx")
products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,"18,00",39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,"19,00",17,40,25,False
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,"10,00",13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,"22,00",53,0,0,False
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,"21,35",0,0,0,True

In [10]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductID        77 non-null     int64
 1   ProductName      77 non-null     object
 2   SupplierID       77 non-null     int64
 3   CategoryID       77 non-null     int64
 4   QuantityPerUnit  77 non-null     object
 5   UnitPrice        77 non-null     object
 6   UnitsInStock     77 non-null     int64
 7   UnitsOnOrder     77 non-null     int64
 8   ReorderLevel     77 non-null     int64
 9   Discontinued     77 non-null     bool
dtypes: bool(1), int64(6), object(3)
memory usage: 5.6+ KB

In [26]:
products['UnitPrice'] = products['UnitPrice'].str.replace(',', '.').astype(float)

In [27]:
products.isnull().sum()

ProductID          0
ProductName        0
SupplierID         0
CategoryID         0
QuantityPerUnit    0
UnitPrice          0
UnitsInStock       0
UnitsOnOrder       0
ReorderLevel       0
Discontinued       0
dtype: int64

In [28]:
products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,False
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,False
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,True

In [29]:
clean_products = products.copy()
clean_products.to_csv("clean_products.csv", index=False)
print("Veri 'clean_products' değişkenine atandı ve 'clean_products.csv' olarak kaydedildi.")

Veri 'clean_products' değişkenine atandı ve 'clean_products.csv' olarak kaydedildi.

In [32]:
categories = pd.read_excel(r"C:\Users\dilara\Desktop\Categories.xlsx")
categories.head()

,CategoryID,CategoryName,Description,Picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",0x151C2F00020000000D000E0014002100FFFFFFFF4269...
2,3,Confections,"Desserts, candies, and sweet breads",0x151C2F00020000000D000E0014002100FFFFFFFF4269...
3,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [33]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    8 non-null      int64
 1   CategoryName  8 non-null      object
 2   Description   8 non-null      object
 3   Picture       8 non-null      object
dtypes: int64(1), object(3)
memory usage: 388.0+ bytes

In [50]:
clean_categories = categories.copy()
clean_categories.to_csv("clean_categories.csv", index=False)
print("Veri 'clean_categories' değişkenine atandı ve 'clean_categories.csv' olarak kaydedildi.")

Veri 'clean_categories' değişkenine atandı ve 'clean_categories.csv' olarak kaydedildi.

In [7]:
orders = pd.read_excel(r"C:\Users\dilara\Desktop\Orders.xlsx")
orders.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,"32,38",Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,"11,61",Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,"65,83",Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,"41,34",Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,"51,30",Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderID         830 non-null    int64
 1   CustomerID      830 non-null    object
 2   EmployeeID      830 non-null    int64
 3   OrderDate       830 non-null    datetime64[ns]
 4   RequiredDate    830 non-null    datetime64[ns]
 5   ShippedDate     809 non-null    datetime64[ns]
 6   ShipVia         830 non-null    int64
 7   Freight         830 non-null    object
 8   ShipName        830 non-null    object
 9   ShipAddress     830 non-null    object
 10  ShipCity        830 non-null    object
 11  ShipRegion      323 non-null    object
 12  ShipPostalCode  811 non-null    object
 13  ShipCountry     830 non-null    object
dtypes: datetime64[ns](3), int64(3), object(8)
memory usage: 90.9+ KB

In [34]:
orders['ShipRegion'] = orders['ShipRegion'].fillna('Bilinmiyor')
orders['ShipPostalCode'] = orders['ShipPostalCode'].fillna('Bilinmiyor')

In [38]:
orders = orders.dropna(subset=['ShippedDate'])

In [40]:
orders['Freight'] = orders['Freight'].astype(str).str.replace(',', '.').astype(float)

In [41]:
orders.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Bilinmiyor,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,Bilinmiyor,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,Bilinmiyor,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Bilinmiyor,B-6000,Belgium

In [42]:
clean_orders = orders.copy()
clean_orders.to_csv("clean_orders.csv", index=False)
print("Veri 'clean_orders' değişkenine atandı ve 'clean_orders.csv' olarak kaydedildi.")

Veri 'clean_orders' değişkenine atandı ve 'clean_orders.csv' olarak kaydedildi.

In [43]:
#clean aşaması bitti.

In [44]:
clean_customers.head(3)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,Phone_Clean
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Bilinmiyor,12209,Germany,030-0074321,030-0076545,0300074321
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Bilinmiyor,05021,Mexico,(5) 555-4729,(5) 555-3745,55554729
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Bilinmiyor,05023,Mexico,(5) 555-3932,Yok,55553932

In [45]:
clean_ordersdetails.head(3)

   OrderID  ProductID  UnitPrice  Quantity  Discount  TotalAmount
0    10248         11       14.0        12       0.0        168.0
1    10248         42        9.8        10       0.0         98.0
2    10248         72       34.8         5       0.0        174.0

In [46]:
clean_orders.head(3)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Bilinmiyor,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,Bilinmiyor,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil

In [48]:
clean_products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,False
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,False
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,True

In [49]:
categories.head(3)

,CategoryID,CategoryName,Description,Picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",0x151C2F00020000000D000E0014002100FFFFFFFF4269...
2,3,Confections,"Desserts, candies, and sweet breads",0x151C2F00020000000D000E0014002100FFFFFFFF4269...

In [52]:
import os
import shutil

# Hedef klasörü oluştur (yoksa)
target_dir = "../data/processed/"
os.makedirs(target_dir, exist_ok=True)

# Taşınacak dosyaların listesi
files_to_move = [
    "clean_customers.csv",
    "clean_orders.csv",
    "clean_ordersdetails.csv",
    "clean_products.csv",
    "clean_categories.csv"
]

for file in files_to_move:
    if os.path.exists(file):
        # Dosyayı notebooks klasöründen data/processed klasörüne taşı
        shutil.move(file, os.path.join(target_dir, file))
        print(f"{file} başarıyla {target_dir} altına taşındı.")
    else:
        print(f"Uyarı: {file} bulunamadı.")

Uyarı: clean_customers.csv bulunamadı.
Uyarı: clean_orders.csv bulunamadı.
clean_ordersdetails.csv başarıyla ../data/processed/ altına taşındı.
Uyarı: clean_products.csv bulunamadı.
Uyarı: clean_categories.csv bulunamadı.